/* Style the tab */

#tab-bar {
    height: 130px;
    width: 100%;
    margin: 0;
    position: relative;
    box-shadow: 0 1px 10px rgba(255, 118, 0, 0.77);
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.39);
}
#tab-div{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    padding-top:0px;
    padding-left: 30px;
}

#tab-div a {
    height: 50px;
    width: 40px;
}
#tab-div div{
    font-weight: bold;
    color: white;
    float: left;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 0px 20px 0 20px;   
}

#tab-div span {
    line-height: 50px;
}

.main-tab {
    border-top-left-radius: 10px;
}

.fav-tab {
    border-top-right-radius: 10px;
}

#tab-bar a .inactive-tab :hover {
    background-color: rgba(255, 118, 0, 0.77);
}
